<h1><a href="/">{{title}}</a></h1>
<p>Welcome to {{title}}</p>

<ul id="users">
  <!-- users -->
</ul>

<div>
  <h1 id="name"></h1>
  <p class="app-name" id="app"></p>
  <div id="date"></div>
</div>

<div>
  <button id="click">Click!</button>
</div>

<div>
  <form id="form">
    <input id="room-input" type="text" placeholder="room name">
    <button type="submit">Submit</button>
  </form>
</div>

<script>
  const button = document.getElementById('click');
  button.onclick = function(e) {
    console.log(e);
    console.log('Button Click!');
  }

  const form = document.getElementById('form');
  const roomInput = document.getElementById('room-input');

  form.onsubmit = function(e) {
    e.preventDefault(); // Prevent the default behavior!

    console.log(e);

    const topic = roomInput.value;
    const body = JSON.stringify({ topic });
    const method = 'post';
    const headers = {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    };

    fetch('/api/room/new', { method, body, headers }).then((res) => {
      return res.json();
    }).then((data) => {
      console.log(`form data returned: ${data}`);
      console.log(data);
    }).catch((err) => {
      console.log(err.message);
    });
  }
</script>


<script>
  fetch('/anything/bananas').then((res) => {
    return res.json();
  }).then((data) => {
    console.log('----------------------');
    console.log(data);
    console.log('----------------------');
    document.getElementById('name').innerHTML = data.name;
    document.getElementById('app').innerHTML = data.app;
    document.getElementById('date').innerHTML = data.date;
  }).catch((err) => {
    console.log(err.message);
  });
</script>








<script>
  console.log('Loading users (front end)');
  fetch('/api/users').then((res) => {
    return res.json();
  }).then((json) => {
    console.log('found users (front end)');
    console.log(json);
    let str = '';
    for (let i = 0; i < json.length; i += 1) {
      str += `<li>${json[i].username}</li>`;
    }
    console.log(str);
    document.getElementById('users').innerHTML = str;
  }).catch((err) => {
    console.log(err.message);
  });
</script>
