<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-brand">
        MakeReddit
      </div>

      <div class="navbar-text">
        {{# if currentUserId}}
          <a class="nav-link" href="/logout">log out</a>
          <a class="nav-link" href="/rooms">Rooms</a>
        {{else}}
          <a class="nav-link" href="/login">log in</a>
        {{/if}}
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>
</html>
